<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<script src="/assets/lib/flexible-0.3.4.min.js?__inline"></script><!--ignore-->
	<title>{{title}}</title>
	<link rel="stylesheet" href="/assets/css/globle.scss">
	{{if stylesheets}}
	{{each stylesheets}}
	<link rel="stylesheet" href="{{$value}}"/>
	{{/each}}
	{{/if}}
	<!--STYLE_PLACEHOLDER-->
</head>
<body>


<div id="wholeWrapper">
	<img src="/assets/img/banner.png" id="bigBanner">
	<header>
		<nav>
			<a class="{{if __fis_file.filename === 'index.html'}}curr{{/if}}" href="index.html">首页</a>
			<a class="{{if __fis_file.filename != 'index.html'}}curr{{/if}}" href="main.html">企业介绍</a>
		</nav>
	</header>